@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One|Roboto+Condensed');


article  {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    color: #f8f8fa;
   
}
.history .container {
    background-color: rgba(0, 0, 0, 0.5);
}


figure {
    margin-top: 50px;
    
}