@import url('https://fonts.googleapis.com/css?family=Orbitron:400,500,700,900');


body {
  background-color:white;
  font-family: 'Orbitron', sans-serif;
 // background-image: url(http://img4.wikia.nocookie.net/__cb20120730200249/ipod/images/6/65/Earth_and_Moon.jpg);
 background-image: url(/images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.testEng1{
  display: none;
}

.testEng2{
  display: none;
}

.testEng3{
  display: none;
}
