@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One|Roboto+Condensed');



body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  
  main {
    flex: 1;
  }

  footer {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 0px 10px 1px #4588cf;
    -moz-box-shadow: 0px 0px 10px 1px #4588cf;
    box-shadow: 0px 0px 10px 1px #4588cf;
   
    
    p {
      color: #98c1f5;
      display: inline-block;
      margin-left: 5px;
      margin-top: 11px;
    }
  }

 h6 {
    color: #98c1f5;
    display: inline-block;
    margin-left: 10px;
    a:hover {
      color: #98c1f5;
    }
  }


.footerTextPosition {
  display: flex;
  justify-content: center;
  text-align: center;
}