@import url('https://fonts.googleapis.com/css?family=Chakra+Petch');

.display-4 {
  font-family: 'Chakra Petch', sans-serif;
  font-size: 4rem;
  color: white;
  text-shadow: 3px 2px 5px #4588cf;
}

.headlineSummary {
  font-family: 'Chakra Petch', sans-serif;
  font-size: 2rem;
  color: white;
}
